[submodule "CVutils"]
	path = CVutils
	url = https://scienceopen@github.com/scienceopen/CVutils.git
[submodule "transcarutils"]
	path = transcarutils
	url = https://scienceopen@bitbucket.org/scienceopen/transcarutils.git
[submodule "pymap3d"]
	path = pymap3d
	url = https://scienceopen@github.com/scienceopen/pymap3d.git
[submodule "histutils"]
	path = histutils
	url = https://scienceopen@github.com/scienceopen/histutils.git
[submodule "pyimagevideo"]
	path = pyimagevideo
	url = https://github.com/scienceopen/pyimagevideo.git
[submodule "pybashutils"]
	path = pybashutils
	url = https://github.com/scienceopen/pybashutils.git
[submodule "gridaurora"]
	path = gridaurora
	url = https://github.com/scienceopen/gridaurora
